#
# **************** General configs ***************
#

# CONFIG_IPV6 is not set
CONFIG_BUILD_PATENTED=y
CONFIG_TARGET_KERNEL_PARTSIZE=24
CONFIG_TARGET_ROOTFS_PARTSIZE=72
CONFIG_PACKAGE_atop=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-sound=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_ntp-utils=y
CONFIG_PACKAGE_ntpclient=y
CONFIG_PACKAGE_ntpd=y
CONFIG_PACKAGE_shadow=y
CONFIG_PACKAGE_shadow-utils=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_cifsmount=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_sysfsutils=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_chrt=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_dbus-utils=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_inotifywait=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_dropbearconvert=y
CONFIG_PACKAGE_libavahi-client=y
CONFIG_PACKAGE_libsensors=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_lm-sensors-detect=y
CONFIG_PACKAGE_procps-ng=y
# CONFIG_PACKAGE_procps-ng-free is not set
# CONFIG_PACKAGE_procps-ng-kill is not set
# CONFIG_PACKAGE_procps-ng-pgrep is not set
CONFIG_PACKAGE_procps-ng-pkill=y
# CONFIG_PACKAGE_procps-ng-pmap is not set
# CONFIG_PACKAGE_procps-ng-ps is not set
# CONFIG_PACKAGE_procps-ng-pwdx is not set
# CONFIG_PACKAGE_procps-ng-skill is not set
# CONFIG_PACKAGE_procps-ng-slabtop is not set
# CONFIG_PACKAGE_procps-ng-snice is not set
# CONFIG_PACKAGE_procps-ng-sysctl is not set
# CONFIG_PACKAGE_procps-ng-tload is not set
# CONFIG_PACKAGE_procps-ng-top is not set
# CONFIG_PACKAGE_procps-ng-uptime is not set
# CONFIG_PACKAGE_procps-ng-vmstat is not set
# CONFIG_PACKAGE_procps-ng-w is not set
CONFIG_PACKAGE_procps-ng-watch=y
CONFIG_PACKAGE_stress=y

# *********** Remote and key support *************
# CONFIG_PACKAGE_kmod-gpio-button-hotplug is not set
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-input-evdev=y
CONFIG_PACKAGE_kmod-input-gpio-encoder=y
CONFIG_PACKAGE_kmod-input-gpio-keys=y
CONFIG_PACKAGE_kmod-rc=y
CONFIG_PACKAGE_kmod-rc-decoders=y
CONFIG_PACKAGE_evtest=y
CONFIG_PACKAGE_libkeyutils=y
CONFIG_PACKAGE_lirc=y
CONFIG_PACKAGE_lirc-devinput=y
CONFIG_PACKAGE_lirctools=y
CONFIG_PACKAGE_triggerhappy=y
CONFIG_PACKAGE_libv4l=y
CONFIG_PACKAGE_v4l-utils=y

# *********** ALL targets need sound basics *************
CONFIG_PACKAGE_audio-overlay=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-ac97=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_alsa-plugins=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_jack=y
CONFIG_PACKAGE_zita-njbridge=y
CONFIG_PACKAGE_zita-ajbridge=y
CONFIG_PACKAGE_zita-alsa-pcmi=y
CONFIG_PACKAGE_jnoise=y
CONFIG_PACKAGE_jconvolver=y
CONFIG_PACKAGE_zita-lrx=y
CONFIG_PACKAGE_mympd=y
CONFIG_PACKAGE_jackmeter=y
CONFIG_PACKAGE_luci-app-sound=y
CONFIG_PACKAGE_mpc=y
CONFIG_PACKAGE_sox=y
CONFIG_PACKAGE_mpdjack=y
CONFIG_PACKAGE_mpdjack-avahi-service=y

# ************* ALL targets should have USB turned on **********
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_usbids=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
CONFIG_PACKAGE_kmod-usb-serial-pl2303=y
CONFIG_PACKAGE_kmod-usb-serial-ch341=y
CONFIG_PACKAGE_ftdi_eeprom=y

#
# **************** FFMPG CUSTOMISATION ***************
#

CONFIG_PACKAGE_fdk-aac=y

# CONFIG_PACKAGE_libffmpeg-audio-dec is not set
CONFIG_PACKAGE_libffmpeg-custom=y

#
# Build Licensing
#
CONFIG_FFMPEG_CUSTOM_GPL=y
CONFIG_FFMPEG_CUSTOM_GPLV3=y
CONFIG_FFMPEG_CUSTOM_NONFREE=y
CONFIG_FFMPEG_CUSTOM_PATENTED=y

#
# Build Properties
#
CONFIG_FFMPEG_CUSTOM_LARGE=y

#
# Profiles
#
# CONFIG_FFMPEG_CUSTOM_MINIDLNA_SUPPORT is not set
CONFIG_FFMPEG_CUSTOM_AUDIO_DEC_SUPPORT=y
# CONFIG_FFMPEG_CUSTOM_PROGRAMS is not set

#
# External Libraries
#
CONFIG_FFMPEG_CUSTOM_SELECT_libfdk-aac=y
# CONFIG_FFMPEG_CUSTOM_SELECT_libmp3lame is not set
# CONFIG_FFMPEG_CUSTOM_SELECT_libopus is not set
# CONFIG_FFMPEG_CUSTOM_SELECT_libshine is not set

#
# Encoders
#
# CONFIG_FFMPEG_CUSTOM_ENCODER_ac3 is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_jpegls is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_mpeg1video is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_mpeg2video is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_mpeg4 is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_pcm_s16be is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_pcm_s16le is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_png is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_vorbis is not set
# CONFIG_FFMPEG_CUSTOM_ENCODER_zlib is not set

#
# Decoders
#
CONFIG_FFMPEG_CUSTOM_DECODER_aac=y
CONFIG_FFMPEG_CUSTOM_SELECT_adpcm=y
CONFIG_FFMPEG_CUSTOM_DECODER_ac3=y
CONFIG_FFMPEG_CUSTOM_DECODER_alac=y
CONFIG_FFMPEG_CUSTOM_DECODER_amrnb=y
CONFIG_FFMPEG_CUSTOM_DECODER_amrwb=y
CONFIG_FFMPEG_CUSTOM_DECODER_ape=y
CONFIG_FFMPEG_CUSTOM_DECODER_atrac3=y
CONFIG_FFMPEG_CUSTOM_DECODER_flac=y
# CONFIG_FFMPEG_CUSTOM_DECODER_gif is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_h264 is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_hevc is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_jpegls is not set
CONFIG_FFMPEG_CUSTOM_DECODER_mp2=y
CONFIG_FFMPEG_CUSTOM_DECODER_mp3=y
# CONFIG_FFMPEG_CUSTOM_DECODER_mpegvideo is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_mpeg1video is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_mpeg2video is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_mpeg4 is not set
CONFIG_FFMPEG_CUSTOM_DECODER_mpc7=y
CONFIG_FFMPEG_CUSTOM_DECODER_mpc8=y
CONFIG_FFMPEG_CUSTOM_DECODER_opus=y
CONFIG_FFMPEG_CUSTOM_DECODER_pcm_s16be=y
CONFIG_FFMPEG_CUSTOM_DECODER_pcm_s16le=y
# CONFIG_FFMPEG_CUSTOM_DECODER_png is not set
# CONFIG_FFMPEG_CUSTOM_DECODER_vc1 is not set
CONFIG_FFMPEG_CUSTOM_DECODER_vorbis=y
CONFIG_FFMPEG_CUSTOM_DECODER_wavpack=y
CONFIG_FFMPEG_CUSTOM_DECODER_wmav1=y
CONFIG_FFMPEG_CUSTOM_DECODER_wmav2=y
CONFIG_FFMPEG_CUSTOM_DECODER_zlib=y

#
# Muxers
#
# CONFIG_FFMPEG_CUSTOM_MUXER_ac3 is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_h264 is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_hevc is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_mp3 is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_mp4 is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_mpeg1video is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_mpeg2video is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_mpegts is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_ogg is not set
# CONFIG_FFMPEG_CUSTOM_MUXER_rtp is not set

#
# Demuxers
#
CONFIG_FFMPEG_CUSTOM_DEMUXER_aac=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_avi=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_ac3=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_amr=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_ape=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_flac=y
# CONFIG_FFMPEG_CUSTOM_DEMUXER_h264 is not set
# CONFIG_FFMPEG_CUSTOM_DEMUXER_hevc is not set
CONFIG_FFMPEG_CUSTOM_DEMUXER_matroska=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mov=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mp3=y
# CONFIG_FFMPEG_CUSTOM_DEMUXER_mpegvideo is not set
# CONFIG_FFMPEG_CUSTOM_DEMUXER_mpegps is not set
CONFIG_FFMPEG_CUSTOM_DEMUXER_mpegts=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mpc=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_mpc8=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_ogg=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_rm=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_rtsp=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_sdp=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_rtp=y
# CONFIG_FFMPEG_CUSTOM_DEMUXER_vc1 is not set
CONFIG_FFMPEG_CUSTOM_DEMUXER_wav=y
CONFIG_FFMPEG_CUSTOM_DEMUXER_wv=y

#
# Parsers
#
# CONFIG_FFMPEG_CUSTOM_PARSER_aac is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_ac3 is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_flac is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_h264 is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_hevc is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_mpegaudio is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_mpegvideo is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_mpeg4video is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_opus is not set
# CONFIG_FFMPEG_CUSTOM_PARSER_vc1 is not set
